@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
:root {
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --fomt-size-xs: 0.7rem;
}

body {
    font-family: 'Rubik';
}



.container{
    display: flex;
}

@media screen and (max-width: 1024px) {
    
    
}
@media screen and (max-width: 768px){
    body{
        text-align: center;
    }
    .container__section {
        flex-direction: column;
    } 
    
}

@media screen and (max-width: 450px){
    :root{
        font-size: 12px;
    }
    
}

.container__center {
    align-items: center;
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-space {
    justify-content:space-between;
}
.justify-content-center {
    justify-content:center;
}
.container__column {
    flex-direction: column;
}



.container__space-around{
    justify-content: space-around;
}


a {
    text-decoration: none;
    color: inherit;
    
}



li {
    display: block;
}

.lock-scroll{
    overflow-y: hidden;
}



@media screen and (max-width: 1100px){
    .container__section-wider {
        flex-direction: column;
    }
}
.button {
    font-family: inherit;
    border: none;
    padding: 0;
    background-color: #FFF0;
    font-size: 1rem;
    color: #0b132a;
    font-weight: 500;
    width: 9.375em;
    height: 4em;
    margin: 2px;
    cursor: pointer;
    transition: background-color .5s, color 0.4s;
    border-radius: 1.5em;
  }
  
  .button--outlined:hover, .button--transparent:hover {
    background-color: #f53855;
    color:#fff;
  }
  
  .button--outlined {
    color:#f53855;
    border: 1px solid #f53855;
  }
  
  .button--large {
    width: 15.625em;
    height: 3.75em;
    font-weight: 600;
    color: #fff;
    border-radius: 0.8em;
    background-color: #f53838;
    box-shadow: 0 0.8em 3.75em -0.8em #f53838;
  
  }
  
  .button--large:hover{
    background-color: transparent;
    color:#f53838;
    border: 1px solid #f53838;
  }
  
  .button--margin-top {
    margin-top: 3.125em;
  }
  
  
  .logo__image {
    max-height: 4rem;
    max-width: 4rem;
  }
  
  .logo__title {
    color: #0b132a;
    font-size: "font-size-md" ;
    font-weight: 600;
  }
  .logo_container{
    display: flex;
    font-size: 1.5rem;
}

  .paragraph {
    color: #4f5665;
    font-size: 1rem;

  }
  
.center {
    padding: 0 10%;
    text-align: center;
}
.inline-block {
    display: inline-block;
  }

@media screen and (min-width: 1700px) {
    .paragraph{
        font-size: 1.5rem;
        gap:30px;
    }
    .button--large {
        width: 20em;
    }
    .button--transparent{
        font-size: 2rem;
        width: 10em;
        height: 3.75em; 
    }
    .button--outlined{
        font-size: 2rem;
        width: 10em;
        height: 3.75em; 
    }
    .logo__image{
        width: 150%;
        height: 150%; 
    }
    
}
